{
	"identifier" = "oolite.oxp.Alnivel.RoutePlanner";
	"required_oolite_version" = "1.9";
	"title" = "Route Planner";
	"version" = "0.3";
	"category" = "Mechanics";
	"description" = "Plot a route through multiple systems";
	"author" = "Alnivel";
	"information_url" = "https://wiki.alioth.net/index.php?title=Route_Planner_OXP";
        "download_url" = "https://example.com/downloads/test.oxp";
        "file_size" = "1572386";
        "conflict_oxps" = "some";
        "license" = "ROFL";
        "maximum_oolite_version" = "any";
        "optional_oxps" = "one";
        "requires_oxps" = "some";
        "tags" = "sunny";

        "unknownTag" = "what?";
}