{
	"identifier" = "oolite.oxp.Alnivel.RoutePlanner";
	"required_oolite_version" = "1.9";
	"title" = "Route Planner";
	"version" = "0.3";
	"category" = "Mechanics";
	"description" = "Plot a route through multiple systems";
	"author" = "Alnivel";
	"information_url" = "https://wiki.alioth.net/index.php?title=Route_Planner_OXP";
	"license" = "CC BY-NC-SA 4";
        "upload_date" = "anno domini";
        "tags" = "whatever";
        "requires_oxps" = "all";
        "optional_oxps" = "some";
        "conflict_oxps" = "none";
        "maximum_oolite_version" = "any";
        "unknownKey" = "fart";
}