{
    /* here we have a typical ship list. It is a dictionary of ships. */

	"cobra3-miner-player" =
	{
		aft_eject_position = "0.0 -17.0 -40.0";
		custom_views =
		(
			{
				view_description = "Rear View";
				view_orientation = "1.0 0.0 0.0 0.0";
				view_position = "0.0 30.0 -380.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Rear Right View";
				view_orientation = "0.9239 0.0 0.3827 0.0";
				view_position = "251.42 30.0 -251.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Right View";
				view_orientation = "0.7071 0.0 0.7071 0.0";
				view_position = "350.0 30.0 0.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front Right View";
				view_orientation = "0.3827 0.0 0.9239 0.0";
				view_position = "251.42 30.0 251.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front View";
				view_orientation = "0.0 0.0 1.0 0.0";
				view_position = "0.0 30.0 350.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Front Left View";
				view_orientation = "0.3827 0.0 -0.9239 0.0";
				view_position = "-251.42 30.0 251.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Left View";
				view_orientation = "0.7071 0.0 -0.7071 0.0";
				view_position = "-350.0 30.0 0.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Rear Left View";
				view_orientation = "0.9239 0.0 -0.3827 0.0";
				view_position = "-251.42 30.0 -251.42";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Top View";
				view_orientation = "-0.7071 0.7071 0.0 0.0";
				view_position = "0.0 420.0 0.0";
				weapon_facing = "FORWARD";
			},
			{
				view_description = "Bottom View";
				view_orientation = "0.0 0.0 0.7071 0.7071";
				view_position = "0.0 -420.0 0.0";
				weapon_facing = "FORWARD";
			}
		);	
		energy_recharge_rate = 3;	
		exhaust = (		
			"10.7601 6.3008 -31.8587  6.3 5.6 9.0",
			"-10.7601 6.3008 -31.8587 6.3 5.6 9.0"
			);
		extra_cargo = 0;
		frangible = "false";
		forward_weapon_type = "WEAPON_MINING_LASER";
		laser_color = "whiteColor";
		materials = 
		{ 
			"minercobra_diffuse.png" = 
			{ 
				diffuse_map = "minercobra_diffuse.png"; 
				specular_color = ( 0.2, 0.2, 0.2 );  // Applies when specular map is not used (no shaders) 
				shininess = 5; 
				emission_map = { name = "griff_minercobra_mk3_mainhull_normal.png"; extract_channel = "a"; }; 
				emission_modulate_color = (0.9926, 0.9686, 0.7325); 
			}; 
		};
		max_cargo = 75;
		max_energy = 192;
		max_flight_pitch = 1;
		max_flight_roll = 2;
		max_flight_speed = 350;
		max_missiles = 2;	
		missiles = 2;	
		missile_launch_position = "0.0 -13.7 21.06";
		model = "griff_minercobra_mk3_mainhull.dat"; 
		name = "Miner Cobra Mark III";
		roles = "player";
		thrust = 32;	
		scoop_position = "0.0 -9.57 7.66";	
		smooth = "false";	
		subentities = (
			"griff_normalmapped_minercobra_mkIII_front_gun_player   0 0 0 1 0 0 0"
				   );
		shaders = {
            		"minercobra_diffuse.png" = {
                		vertex_shader = "griff_minernormalmap_ships.vertex"; 
                		fragment_shader = "Z_GrOovy_minercobra_mk3_player.fragment"; 
                		textures = 
						(
							"minercobra_diffuse.png",
							"griff_minercobra_mk3_mainhull_normal.png",
							"griff_minercobra_mk3_mainhull_effects.png"
						);
				uniforms =
						{
						uColorMap = { type = texture; value = 0; };
						uNormalMap = { type = texture; value = 1; };
						uEffectsMap = { type = texture; value = 2; };	
						uTime = "universalTime";
						nearly_dead = "throwingSparks";	
						alertlevel = "alertCondition";
						hull_heat_level = "hullHeatLevel";
						engine_power = "speedFactor"; 	
				}; 
			};
		};
		view_position_aft = "0.0 7.5 -32.5";
		view_position_forward = "0.0 7.25 31.0";
		view_position_port = "-33.5 5.85 0.0";
		view_position_starboard = "33.5 5.85 0.0";
		weapon_facings = 3;
		weapon_position_forward = "-0.0961 0.9367 43.4655";		
		weapon_position_aft = "0.0 0.0 -32.5";
		weapon_position_port = "-40.0 2.17 -4.33";
		weapon_position_starboard = "40.0 2.17 -4.33";	
	};
	
	"griff_normalmapped_minercobra_mkIII_front_gun_player" = 
	{
		ai_type = "nullAI.plist";
		model = "griff_minercobra_mk3_front_gun.dat"; 
		name = "Miner Cobra Mark III";
		roles = "griff_normalmapped_minercobra_mkIII_subent";
		forward_weapon_type = "WEAPON_NONE";
		smooth = 0;
		materials = 
			{ 
				"griff_minercobra_mk3_front_gun_diffuse_spec.png" = 
				{ 
					diffuse_map = "griff_minercobra_mk3_front_gun_diffuse_spec.png"; 
					specular_color = ( 0.2, 0.2, 0.2 ); 
					shininess = 5; 
				}; 
			};			
		max_energy = 100;
		shaders = 
			{ 
				"griff_minercobra_mk3_front_gun_diffuse_spec.png" = 
				{ 
					vertex_shader = "griff_minernormalmap_ships.vertex"; 
					fragment_shader = "griff_minercobra_mk3_frontgun.fragment"; 
				 
					textures = 
						(
							"griff_minercobra_mk3_front_gun_diffuse_spec.png",
							"griff_minercobra_mk3_front_gun_normal.png"
							); 
					uniforms = 
					{ 
						uColorMap = { type = texture; value = 0; };
						uNormalMap = { type = texture; value = 1; };
						uTime = "universalTime";
						hull_heat_level = "hullHeatLevel";	
						laser_heat_level = { 
							binding = "laserHeatLevel"; 
							bindToSubentity = 0; 
						};
					}; 
				}; 
			}; 
	};

	"cobra3-miner" =
	{
		like_ship = "cobra3-miner-player";
		ai_type = "minerAI.plist";
		fuel = 70;
		has_ecm = 0.15;
		has_escape_pod = 0.95;
		has_scoop = 1.0;
		likely_cargo = 12;
		missiles = 2;
		roles = "miner trader";
	};
}