<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- error, warn, info, debug, trace -->
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.ExpansionCache"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.Main"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.Registry"/>
    <Logger level="debug" name="com.chaudhuri.ooliteaddonscanner2.Wiki"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.XMLPlistParser"/>
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>