<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- error, warn, info, debug, trace -->
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.AddonsUtil"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.AddonsUtilTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.ExpansionCache"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.ExpansionCacheTest"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.Main"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.model.EquipmentTest"/>
    <Logger level="debug" name="com.chaudhuri.ooliteaddonscanner2.model.ExpansionTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.model.ExpansionManifestTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.model.ShipTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.OxpExceptionTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.PlistParserUtilTest"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.Registry"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.RegistryTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.RegistryExceptionTest"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.TemplateEngine"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.TemplateEngineTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.ThrowingErrorListener"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.ThrowingErrorListenerTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.Verifier"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.VerifierTest"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.Wiki"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.WikiTest"/>
    <Logger level="info" name="com.chaudhuri.ooliteaddonscanner2.XMLPlistParser"/>
    <Logger level="warn" name="com.chaudhuri.ooliteaddonscanner2.XMLPlistParserTest"/>
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>